<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ReccomendationMarket"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsSellerActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeDetailsUserActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeDetailsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeAddActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPanel"
            android:exported="false" />
        <activity
            android:name=".BelanjaanDetailUser"
            android:exported="false" />
        <activity
            android:name=".DetailPasar"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditBarang"
            android:exported="false" />
        <activity
            android:name=".TambahBarang"
            android:exported="false" />
        <activity
            android:name=".UserPage"
            android:exported="false" />
        <activity
            android:name=".AdminPageActivity"
            android:exported="false" />
        <activity
            android:name=".LupaPassword"
            android:exported="false" />
        <activity
            android:name=".DaftarPengguna"
            android:exported="false" />
        <activity
            android:name=".DaftarAdmin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>